button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  cursor: pointer;
  background-image: linear-gradient(
    rgb(152, 154, 160),
    rgb(136, 184, 199),
    rgb(166, 171, 180)
  );
  margin-bottom: 50px;
}
button:hover {
  background-image: linear-gradient(lightgrey, rgb(163, 175, 196));
}
input {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    rgb(171, 214, 218),
    rgb(194, 197, 209),
    rgb(161, 171, 184)
  );
}
