.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
h1 {
  background-color: aqua;
}
.wrap {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 50px;
  align-content: center;
}
.pic {
  background-color: red;
}
